@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --black: #161615;
  --yellow: #ffc600;
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --accents-1: #111;
  --accents-2: #333;
  --accents-3: #444;
  --accents-4: #666;
  --accents-5: #888;
  --accents-6: #999;
  --accents-7: #eaeaea;
  --accents-8: #fafafa;
  --hover-color: hsla(0, 0%, 100%, 0.02);
  --header-height: 80px;
  --badge-purple-bg: #9162c015;
  --badge-purple-fg: #9162c0;
  --badge-green-bg: #449d5d15;
  --badge-green-fg: #449d5d;
  --badge-amber-bg: #d1772415;
  --badge-amber-fg: #d17724;
  --badge-blue-bg: #3b88e915;
  --badge-blue-fg: #3b88e9;
  --badge-purple-bg: #9162c025;
  --badge-green-bg: #449d5d25;
  --badge-amber-bg: #d1772425;
  --badge-blue-bg: #3b88e925;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

::selection {
  background-color: var(--yellow);
  color: var(--black);
}

* {
  scroll-behavior: smooth;
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: var(--black);
}

pre {
  border-radius: 0.5rem;
}

/* relative bg-hoverColor border border-accents2 rounded-lg px-10 py-5 */
.no-code code {
  border: none;
  background: rgb(30, 30, 30);
  border-radius: 0;
  padding: 0;
}

code {
  background-color: rgba(115, 125, 140, 0.17);
  border: 1px solid var(--accents-2);
  padding: 0.125rem 0.3rem;
  border-radius: 0.5rem;
  /* font-size: 14px; */
}
